body {
  margin: 0;
  padding: 0;
}

/* 黒板とフォームを中央に置く */
.container{
    position: fixed;
    left: 56%;
    top:32%;
    transform:translate(-50%,-50%);
    width:90%;
    max-width:600px;
    z-index:10;
}

.background{
    position: fixed;
    inset: 0;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #fff;
}

.screen{
    width:390px;
    height:844px;

    background-image:url("/f2/image/ログイン背景(仮).png");
    background-repeat:no-repeat;

    transition: all 1.5s ease;
}

/* 黒板の基本設定 */
.board {
  width:min(80vw, 250px);
}

.board-area{
    position: relative;
    width: 40%;
    /*
    top:115px;
    left:110px; 
    */
}

/* menu.jsp の斜め状態 */
.board-tilt {
  transform: rotateY(-40deg) rotateX(15deg);
}

/* login/signup の正面状態 */
.board-front {
  transform: rotateY(0deg) rotateX(0deg);
}

/* 黒板中央にフォーム配置 */
.input {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  z-index: 10;
}

.menu-view{
    background-size:155%;
    background-position:right bottom;
}

.login-view{
    background-size:220%;
    background-position:60% 55%;
}

.logout-view{
    background-size:300%;
    background-position:left center;
}




/* 入力欄 */
.input input[type="text"],
.input input[type="password"] {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

/* ボタン */
.input input[type="submit"],
.input input[type="reset"] {
  width: 48%;
  padding: 14px;
  font-size: 18px;
  border-radius: 6px;
  margin-top: 10px;
}

/* menu.jsp のメニュー配置 */
.menu {
    position:absolute;
    top:37%;
    left:25%;
    transform:translate(-50%,-50%);
    z-index:20;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.menu a {
	background:none;
	color:white;
	font-size:clamp(18px, 3vw, 32px);
	margin:15px 0;
}

/* スマホ対応 */
@media screen and (max-width: 600px) {
  .input {
    width: 90%;
    max-width: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
